/input/*
*.txt
.idea/*
*.csv
*.zip
*.pack
*.json 
*.pyc 
./tianchi/nl2sql_baseline/saved_model/best_model/* 
./tianchi/nl2sql_baseline/data/char_embedding
.vscode
*.pdf 
*.weights 
*.json 
*.db 
bert_model.* 
vocab.txt